.carousel-2pac{
    margin-left: 28%;
    height: 40%;
    width: 40%;
    margin-top: 20px;
}

.historia{
    justify-content: center;
    margin-top: 100px;
    @import url(<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">);
}

body{
    background-color: whitesmoke;
}

.card{
    justify-content: center;
    margin-left: 525px;
    margin-top: 50px;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 16px;
    font-family: sans-serif;
    color: white
}

.vem-vem{
    font-size: larger;
}